---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/Hero.jsx";
import { Navbar } from "../components/Navbar.jsx";
import { Features1 } from "../components/Features1.jsx";
import { Features2 } from "../components/Features2.jsx";
import { Happy } from "../components/Happy";
import { Zapier } from "../components/Zapier.jsx";
import { Testimonials } from "../components/Testimonials.jsx";
import { Pricing } from "../components/Pricing.jsx";
import { FAQ } from "../components/FAQ.jsx";
import { Footer } from "../components/Footer.jsx";
import { ScrollUpButton } from "../components/ScrollUpButton";
import "../styles/Theme.css";

---

<Layout title="Fluid CRM - Le CRM qui simplifie votre relation client.">
  <Navbar client:load />
  <div class="bg-cover bg-[url('/images/background.jpg')] bg-top bg-no-repeat">
    <Hero client:load />
    <Features1 client:load />
  </div>
  <Features2 client:load />
  <Happy client:load/>
  <Zapier client:load/>
  <Testimonials client:load />
  <Pricing client:load />
  <FAQ client:load />
  <Footer />
  <ScrollUpButton client:load />
</Layout>